html, body {
    height: 100%;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: cadetblue;

    margin-top: 0;
}
.main-title {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
.list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    gap: 16px;
    margin-top: 10px;
}
.list-item {
    flex-basis: 280px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background-image: url(/lista_contatos_v2/imagens/thumb04.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
.list-item__imagem img {
    border-radius: 50%;
    width: 80px;
    margin-top: 120px;
}
.list-item__name {
    color: #855555;
    font-size: 18px;
}
.list-item__email {
    color: #555555;
    font-size: 14px;
}
.list-item__actions {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 30px;
    gap: 100px;
    border: 0.1px solid rgba(0, 0, 0, 0.2);
}
.list-item__actions a {
    color: #555555;
    padding: 5px;
}